.main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.message{
  width: 400px;
  height: 200px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.btn{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(108, 166, 214);
  color: white;
  font-size: medium;
}