.card{
  background-color: azure;
  border-radius: 10px;
  padding: 10px;
  box-shadow:5px 10px 15px rgba(0, 0, 0, 0.3);
}
.card-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:18px;
}
@media (max-width: 600px) {
  .card-container{
    grid-template-columns: repeat(1,1fr);
  }
}